<?xml version="1.0"?>
    <configuration>
        <system.webServer>
        <staticContent>
            <mimeMap fileExtenstion=".json" mimeType="application/json" />
            <mimeMap fileExtenstion=".mp4" mimeType="video/mp4" />
        </staticContent>
        <httpProtocol>
    <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
</httpProtocol>
</customHeaders>
</system.webServer>
</configuration>